@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 140rem;
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(0.9065 0.0029 264.54);
  --foreground: oklch(0.2063 0.0162 273.93);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2063 0.0162 273.93);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2063 0.0162 273.93);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.9065 0.0029 264.54);
  --sidebar-foreground: oklch(0.2063 0.0162 273.93);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}

.dark {
  --background: oklch(0.2063 0.0162 273.93);
  --foreground: oklch(0.9065 0.0029 264.54);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.9065 0.0029 264.54);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.9065 0.0029 264.54);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.9065 0.0029 264.54);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.9065 0.0029 264.54);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.2063 0.0162 273.93);
  --sidebar-foreground: oklch(0.9065 0.0029 264.54);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.9065 0.0029 264.54);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}

@theme inline {
  /* Fonts */
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Source Code Pro Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

    /* Radius (for rounded-*) */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
   
    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
    --color-radius: var(--radius);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
   /* @apply bg-radial-[at_0%_20%] from-secondary bg-radial-[at_98%_1%] to-background to-65%;*/
   /* @apply tw:radial-gradient(at 0% 0%,hsl(var(--background) / .33) 0px,transparent 50%),tw:radial-gradient(at 98% 1%,hsl(var(--color-red-500) / .33) 0px,transparent 50%);*/
   background-image: 
    radial-gradient(circle 1500px at 0% 20%, hsl(from var(--color-primary) h s l / 0.06), transparent 95%),
    radial-gradient(circle 1500px at 98% 1%, hsl(from var(--color-destructive) h s l / 0.06), transparent 55%);
  }
  /*add the cursor pointer back in because the shadcn devs are fuckin mongols and removed it
  apologies, it was the bellends that make tailwind that removed it. Arseholes. */
  :where(button, [role="button"]):not([disabled]) {
  cursor: pointer;
}
}
@layer utilities {
  .has-\[\>svg\]\:px-3 {
      padding-block: 1.3em;
  }
}
//-----------------
  .pwd-input {
    -webkit-text-security: disc;
  }
 .editable {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border: none;
    background: none;
    resize: none;
    overflow: hidden;
  }
  .editable:focus {
    outline: none;
  }
  .textarea-add {
    @apply resize-none text-lg rounded-none m-0 w-full overflow-y-auto border-0 py-[.6rem] mt-2 mb-2 pl-3 pr-7 focus:ring-0 focus-visible:ring-0;
}
.input-add {
    padding: 2.5px 2px;
    @apply rounded-md focus:ring-0 focus-visible:ring-0;
}
/* SCROLL BAR */
  @media screen and (min-width: 700px) {
    * ::-webkit-scrollbar,::-webkit-scrollbar {
        width:2px!important;
        border-radius: 999px;
        height: 0!important
    }

    * ::-webkit-scrollbar-track,::-webkit-scrollbar-track {
        background: transparent!important
    }

    * ::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb {
        border-radius: 999px;
        background: hsla(0,0%,100%,.5)!important;
        height: 16px!important
    }

    * ::-webkit-scrollbar-thumb:hover,::-webkit-scrollbar-thumb:hover {
        background: #fff!important
    }
}
/* === CHARACTER CARD === */
/*This is sort of from WebKitCoding on youtube. 
There's thousand copy-cat tutorials of this effect
but fuck if I know who did it first... */
    #CharacterCard h2 {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 3rem;
        transform: translateX(-50%);
    }

    /* filepath: /media/vince/AI/AI Adventures/CRL/src/app.postcss */
    #CharacterCard {
        --card-height: 40vh;
        --card-width: calc(var(--card-height) / 1.7);
    }
    #CharacterCard .card {
        height: var(--card-height);
        aspect-ratio: 0.73; /*DO NOT REMOVE THIS. Only fuckin thing holding the character card together*/
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        perspective: 2500px;
        margin: 0;
        background-color: transparent;
        --tw-ring-color: transparent;
    }

    #CharacterCard .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    #CharacterCard .wrapper {
        position: absolute;
        width: 100%;
        z-index: -1;
        transition: all 0.4s;
    }

    #CharacterCard .card:hover .wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
        box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }

    #CharacterCard .wrapper::before,
    #CharacterCard .wrapper::after {
        content: "";
        width: 100%;
        transition: all 0.4s;
        position: absolute;
        left: 0;
        opacity: 0;
        height: 3.9rem;
    }

    #CharacterCard .wrapper::before {
        top: 0;
        height: 100%;
        background-image: linear-gradient(
            to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
        );
    }

    #CharacterCard .wrapper::after {
        bottom: 0;
        background-image: linear-gradient(
            to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
        );
    }

    #CharacterCard .card:hover .wrapper::before {
        opacity: 1;
    }

    #CharacterCard .card:hover .wrapper::after {
        opacity: 1;
        height: 5.8rem;
    }

    #CharacterCard .title {
        color: #bbb;
        margin-bottom: 6rem;
        transition: transform 0.4s;
    }

    #CharacterCard .card:hover .title {
        transform: translate3d(0%, -50px, 100px);
    }

    #CharacterCard .character {
        width: 100%;
        opacity: 0;
        position: absolute;
        z-index: -1;
        transition: all 0.4s;
    }

    #CharacterCard .card:hover .character {
        opacity: 1;
        transform: translate3d(0%, -10%, 100px);
        mask-image: linear-gradient(180deg, black 70%, transparent);
        -webkit-mask-image: linear-gradient(180deg, black 70%, transparent);
    }

    @media (orientation: portrait) {
        #CharacterCard .card {
            margin: 0 0;
        }
        #CharacterCard {
            --card-height: 35rem;
        }
    }
